<div id="card-table" hlmCard class="m-8 h-40 overflow-scroll rounded-sm pt-4 pb-0 border-none bg-white">
  <table  hlmTable>
    <caption hlmTableCaption>
      A list of <span class="font-bold">{{ customer }}</span> recent invoices.
    </caption>
    <thead hlmTableHeader>
      <tr hlmTableRow>
        <th hlmTableHead class="">Active sales</th>
        <th hlmTableHead class="">Quantity</th>
        <th hlmTableHead>payment</th>
        <th hlmTableHead class="text-right">category</th>
        <th hlmTableHead>cost</th>
      </tr>
    </thead>
    <tbody class="mx-2" hlmTableBody>
        @for (item of saleData; track item.productId) {
          <tr hlmTableRow>
            <td hlmTableCell class="w-40">{{ item.name }}</td>
            <td hlmTableCell class="text-right">{{ item.quantity }}</td>
            <td hlmTableCell>{{ item.description }}</td>
            <td hlmTableCell class="text-right">{{ item.category }}</td>
            <td hlmTableCell class="text-right">{{ item.price * item.quantity | currency:'USD':true  }}</td>
          </tr>
        }
    </tbody>
  </table>
  <section class="sticky bottom-0 bg-white h-12 border-t-2 border-gray-200 px-2 pt-3 grid grid-cols-2">
    <span>Total</span>
    <span class="text-right">{{ saleTotal | currency:'USD':'$' }}</span>
  </section>
</div>
