<div id="card-table" hlmCard class="w-[640px] p-4 border-none bg-white">
  <table  hlmTable>
    <caption hlmTableCaption>
      A list of <span class="font-bold">{{ customer }}</span> recent invoices.
    </caption>
    <thead hlmTableHeader>
      <tr hlmTableRow>
        <th hlmTableHead class="">Active sales</th>
        <th hlmTableHead>payment</th>
        <th hlmTableHead class="text-right">category</th>
        <th hlmTableHead>cost</th>
      </tr>
    </thead>
    <tbody hlmTableBody>
        @for (item of saleData; track item.productId) {
          <tr hlmTableRow>
            <td hlmTableCell>{{ item.name }}</td>
            <td hlmTableCell>{{ item.description }}</td>
            <td htmlTableCell class="text-right">{{ item.category }}</td>
            <td hlmTableCell class="text-right">${{ item.price * item.quantity }}</td>
          </tr>
        }
    </tbody>
    <tfoot hlmTableFooter>
      <tr hlmTableRow>
        <td hlmTableCell [attr.colSpan]="3">Total</td>
        <td hlmTableCell class="text-right">$2,500.00</td>
      </tr>
    </tfoot>
  </table>
</div>
